*{
    padding: 0;
    margin: 0;
}
#text{
    background-color: #1A1A1A;
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
}

button{
    background-color: #927C4D;
    color: black;
    border-radius: 5%;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color: #1A1A1A;
    color: #927C4D;
}

.btn{
    background-color: #927C4D;
    color: black;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    outline: none;
    position: absolute;
}

.btn:hover{
    background-color: black;
    color: #927C4D;
}

.btn-1{
    top: 1rem;
    left: 7.5rem;
}

.btn-2{
    top: 14rem;
    left: 7.5rem;
}

.btn-3{
    top: 7.5rem;
    left: 1rem;
}

.btn-4{
    top: 7.5rem;
    left: 14rem;
}

.btn-5{
    top: 2.75rem;
    left: 12.5rem;
}

.btn-6{
    top: 2.75rem;
    left: 2.5rem;
}

.btn-7{
    top: 12.5rem;
    left: 2.5rem;
}

.btn-8{
    top: 12.5rem;
    left: 12.5rem;
}